table {
    width: 100%;
  }
  .mat-form-field {
    font-size: 14px;
    width: 95%;
    margin-left: 20px;
    margin-right: 6px;
  }
  .tabname {
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
  }
  
  .mat-column-id {
    word-wrap: break-word !important;
    white-space: unset !important;
    //flex: 0 0 10% !important;
    //width: 10% !important;
    flex: 0 0 25% !important;
    width: 25% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  
  
  .mat-column-comment {
    word-wrap: break-word !important;
    white-space: unset !important;
    //flex: 0 0 28% !important;
    //width: 28% !important;
    flex: 0 0 25% !important;
    width: 25% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  
  .mat-column-createdat {
    word-wrap: break-word !important;
    white-space: unset !important;
    //flex: 0 0 28% !important;
    //width: 28% !important;
    flex: 0 0 25% !important;
    width: 25% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  
  .mat-column-article{
    word-wrap: break-word !important;
    white-space: unset !important;
    //flex: 0 0 25% !important;
    //width: 25% !important;
    flex: 0 0 30% !important;
    width: 30% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  
  .mat-header-cell:last-child{
    padding-left: 10px;
  }
  
  .mat-header-cell{
    font-weight: bold;
    font-size: 13px;
    color: black;
  }
  
  