table {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 95%;
  margin-left: 20px;
  margin-right: 6px;
}
.tabname {
  text-align: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 22px;
}

.mat-column-id {
  word-wrap: break-word !important;
  white-space: unset !important;
  //flex: 0 0 10% !important;
  //width: 10% !important;
  flex: 0 0 24% !important;
  width: 24% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


.mat-column-nom {
  word-wrap: break-word !important;
  white-space: unset !important;
  //flex: 0 0 28% !important;
  //width: 28% !important;
  flex: 0 0 16% !important;
  width: 16% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-prenom {
  word-wrap: break-word !important;
  white-space: unset !important;
  //flex: 0 0 28% !important;
  //width: 28% !important;
  flex: 0 0 18% !important;
  width: 18% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-email{
  word-wrap: break-word !important;
  white-space: unset !important;
  //flex: 0 0 25% !important;
  //width: 25% !important;
  flex: 0 0 17% !important;
  width: 17% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-articles{
  word-wrap: break-word !important;
  white-space: unset !important;
  //flex: 0 0 25% !important;
  //width: 25% !important;
  flex: 0 0 26% !important;
  width: 26% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-header-cell:nth-child(5){
  padding-left: 20px;
}

.mat-header-cell:last-child{
  padding-left: 10px;
}

.mat-header-cell{
  font-weight: bold;
  font-size: 13px;
  color: black;
}

.spe{
  margin-top: 10px;
}
